
m1 { margin: 5px;} 
m2 { margin: 10px;}
m3 { margin: 20px;}
m4 { margin: 30px;}
m5 { margin: 40px;}
m6 { margin: 50px;}

p1 { padding: 5px;}
p2 { padding: 10px;}
p3 { padding: 20px;}
p4 { padding: 30px;}
p5 { padding: 40px;}
p6 { padding: 50px;}

h1 { height: 50px;}
h2 { height: 100px;}
h3 { height: 200px;}
h4 { height: 300px;}

w1 { width: 50px;}
w2 { width: 100px;}
w3 { width: 200px;}
w4 { width: 300px;}