button {
    /* border-radius: 5px; */
    /* width: 540px;
    height: 600px; */
    /* box-shadow: 2px salmon; */
}

h1 {
    font-family: poppins, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    margin: 15px;
}
button {
    overflow: hidden;
    height: 500px;
    width: 720px;
    box-shadow: 5px 5px black;
    background-color: #fff;
}